.exposition {
  margin-top: 65px;
  margin-right: 40px;
  margin-left: 40px;

}

.exposition-first-section {
  display: flex;
  flex-wrap: wrap;
}

.first-image {
  background-image: url('../assets/Pic.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 341px;
  width: 25%;
  background-color: rgba(0,0,0,0.5);
}

.seconde-image {
  background-image: url('../assets/pic__4_.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 341px;
  width: 50%;
  background-color: rgba(0,0,0,0.5);
}

.third-image {
  background: #E03E2A;
  height: 341px;
  width: 25%;
}

.forth-image {
  height: 341px;
  width: 50%;
  background-color: #1366DA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forth-item-text {
  font-weight: 500;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  margin-top: -7px;
  letter-spacing: normal;
  margin-left: 26px;

}

.fifth-image {
  background-image: url('../assets/Pic\ \(1\).png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 341px;
  width: 25%;
  background-color: rgba(0,0,0,0.5);
}

.sixth-image {
  background-image: url('../assets/Pic\ \(3\).png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 341px;
  width: 25%;
}

.exposition-text {
  padding-top: 0px;
  margin-bottom: 0px;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  margin-top: 100px;
  margin-left: -1px;
  letter-spacing: normal;
}

.soft-sun-expo {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 38px;
}

.third-image-text {
  font-size: 12px;
  padding-top: 0x;
}

.eco-slider-style {
  bottom: auto;
}

.btn-exposition {
  color: #1E2226;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  font-weight: 500;
}

.who-has-taken {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-top: 39px;
  margin-left: -3px;
}

.it-time {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.third-image-slider {
  position: relative;
  bottom: -9px;
}

.last-news {
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  margin-top: 48px;
}

.menu-text-icon {
  color: #1E2226;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 26px;
  font-weight: bold;
  margin-right: 24px;
}

.menu-icon {
  margin-right: 15px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
    /* background-color: red; */
  border: 2px solid #fff;
  box-shadow: 0 0 0 5px transparent;
}

.menu-text-icon {
  text-align: center;
}

.menu-text-icon ul li {
  display: inline-block;
}

.menu-icon img {
  position: relative;
  top: 7px;
}

.button-vers-top {
  height: 52px;
  width: 52px;
  background-color: #FFFFFF;
  clip-path: circle(50%);
  right: 5%;
  bottom: 14%;
  cursor: pointer;
  margin-left: auto;
  margin-right: 72px;
  margin-top: 190px;
}
.exposition-btn {
  display: none;
}

.button-vers-top::after {
  content: " ";
  height: 15px;
  width: 15px;
  display: block;
  border: 1px solid #1E2226;
  transform: rotate(45deg);
  border-style: solid;
  border-color: #1E2226 transparent transparent  #1E2226;
  margin-left: 15px;
  margin-top: 10px;
  position: relative;
  top: 12px;
}

@media only screen and (max-width: 780px) {
  .exposition-btn {
    display: none;
  }
  .first-image {
    display: none;
  }

  .seconde-image {
    background-size: 100% 100%;
    width: 100%;
    margin-top: 63px;
  }

  .third-image {
    order: 2;
    width: 50%;
  }

  .fifth-image {
    width: 50%;
    background-size: 100% 100%;
  }

  .forth-image {
    width: 100%;
    order: 4;
  }

  .sixth-image {
    display: none;
  }

  .exposition {
    margin-top: 4px;
    margin-right: 23px;
    margin-left: 43px;
}

  .exposition-first-section {
    margin-right: 20px;
  }
  .third-image-slider {
    top: 5px;
    right: -10px;
  }
}

@media only screen and (max-width: 650px) {
  .seconde-image {
    margin-top: -17px;
  }
  .exposition-text {
    margin-top: 85px;
  }
  .btn-exposition {
display: none;
  }
  .exposition-btn {
    top: -1px;
    right: -182px;
    width: 186px;
  }
  .third-image {
    height: 320px;
  }
  .forth-image {
    height: 329px;
  }
  .forth-item-text {
    margin-top: 7px;
  }
  .fifth-image {
    height: 320px;
  }
  .last-news {
    margin-top: 29px;
  }
  .third-image-slider {
    top: 17px;
    right: -18px;
  }
}