.footer {
    margin-top: 55px;
    height: 100%;
    background-color: #282E33;
  }
  
  .footer-about {
    padding-top: 37px;
    padding-left: 61px;
    justify-content: space-around;
    display: flex;
  }
  
  .footer-about-item {
    margin-right: 50px;
  }
  .footer-about-item:nth-child(2) {
    position: relative;
    left: 18px;
  }
  
  .footer-about-item:nth-child(3) {
    margin-right: 129px;
    position: relative;
    left: -4px;
  }

  .footer-about-item:nth-child(4) {
  position: relative;
    right: 60px;
  }

  .footer-about-item:nth-child(5) {
    position: relative;
    right: 121px;
    }

  .footer-about-item p {
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .footer-about-item ul {
    list-style: none;
    padding-left: 0;
    color: #737373;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 24px;
  }
  
  .footer-shopping {
    margin: 24px auto;
    padding: 0px 108px;
    overflow: hidden;
  }
  
  .footer-shopping-select {
    display: flex;
    float: left;
  }
  
  .footer-shopping-select p {
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 15px;
    text-transform: uppercase;
    align-self: center;
    margin-right: 16px;
    margin-top: 15px;
  }
  
  .footer-shopping-select select {
    height: 40px;
    width: 220px;
    border: 1px solid #464A4D;
    background-color: transparent;
    padding-left: 11px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 15px;
    text-align: center;
    margin-top: 2px;
  }
  
  .footer-bank-carte {
    float: right;
    margin-top: 11px;
  }
  
  @media only screen and (max-width: 780px) {
    .footer {
      margin-top: 122px;
    }

    .footer-about-item {
      margin-right: 20px !important;
    }
  
    .footer-about {
      padding-top: 41px;
      margin-left: -54px;
    }
    .footer-shopping {
      margin-left: -69px;
      margin-top: 24px;
    }
    .footer-about-item:nth-child(2) {
      position: relative;
      left: 14px;
  }
  .footer-about-item:nth-child(3) {
    margin-right: 129px;
    position: relative;
    left: -13px;
}
.footer-about-item:nth-child(4) {
  position: relative;
  right: 4px;
}
.footer-about-item:nth-child(5) {
 display: none;
}
.footer-shopping-select select {
  width: 207px;
}
.footer-shopping-select p {
  width: 41%;
  margin-right: 8px;
}
.footer-shopping {
  display: flex;
}
.footer-bank-carte {
  position: relative;
  left: 23px;
}
  }

  @media only screen and (max-width: 650px) {
    .footer-shopping {
      display: flex;
      margin-bottom: 9px;
    }
    .footer-shopping-select select {
      width: 178px;
    }
    .footer {
      margin-top: 98px;
    }
    .footer-bank-carte {
      position: relative;
      left: 93px;
    }
    .footer-bank-carte img {
      width: 97%;
    }
    .footer-shopping-select p {
      width: 45%;
    }
    .footer-about {
      padding-top: 37px;
      margin-left: -35px;
    }
  }